@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* * {
    padding: 0;
    margin: 0;
} */

body {
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;

    /*font: normal 16px 'Roboto', sans-serif;*/
    
    /*  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  */

}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.info {
    display: flex;
    margin-bottom: 20px;
}

@media (max-width: 750px) {
    .info {
        text-align: center;
        display: block;
    }
}

.info-text {
    margin-left: 40px;
}

.info-text h1 {
    margin-bottom: 10px;
}

a:active {
    color: blue;
}

a:visited {
    color: gray;
}

.n-shapyev {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
}

.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /*text-transform: uppercase;*/
    /*letter-spacing: 5px;*/
    /*word-spacing: 20px;*/
 }

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
} 

/* .seti { */
    /* background: green; */
    /*padding: 15px;*/
    /*padding: 15px 40px;*/
    /*padding: 15px 20px 25px 30px;*/
    /* padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 30px;
    margin: 5px;

    border: 5px solid red;
    border-bottom-style: dotted;
    border-top-width: 15px; */
/* } */

/* .box-model > div {
    float: left;
    background: #000;
    height: 200px;
    border: solid teal;
    width: 25%;
    box-sizing: border-box;
} */

.bg-yellow {
    background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.bg-green {
    background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.bg-red {
    background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}

.card {
    padding: 15px 20px;
    /* background: gray; */
    margin-bottom: 20px;
    border-radius: 20px;

}

.card h2 {
    margin-bottom: 10px;
}

.lister {
    padding: 0 20px;
}

.lister li {
    color: #333439;
    padding: 10px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
    color: #333439;
}

/* .table tr:nth-child(even) {
    background: red;
} */

/* .table tr:nth-child(odd) {
    background: red;
} */

.link-list {
    list-style: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.contact h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #86898f;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
    border-radius: 8px;
}

.row {
    display: flex;
    margin-bottom: 20px; 
}

.row > .form-group {
    width: 50%;
    margin-right: 20px;
}

/* .row > .form-group :first-child {
    margin-right: 20px;
} */

.row > .form-group :last-child {
    margin-right: none;
}

.job {
    padding: 15px 20px;
    background: rgb(74, 71, 71);
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
    border-radius: 10px;
}

.job:hover {
opacity: 0.9;
}
